#board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  box-shadow: 0 0 10vh rgba(0, 0, 0, 0.2);
  width: 75vh;
  height: 75vh;
  margin: 0 auto;
}

#instructions {
  text-align: center;
  margin-bottom: 1vh;
  font-size: 3vh;
  font-family:fantasy;
  color: #000000;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2.5vh;
  border-radius: 5px;
  /* background-color: aqua; */
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}