.cell {
  width: 5wh;
  height: 13vh;
  border: 2px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #150e0e;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}


.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
}

.playable {
  background-color: #a0d8ef;
}

.occupied {
  background-color: #90ee90;
}

.dome {
  background-color: #ffffe0;
}

.height-0 {
  background-color: #ffffff;
}

.height-1 {
  background-color: #ab2f2f;
}

.height-2 {
  background-color: #808080;
}

.height-3 {
  background-color: #a9a9a9;
}

.height-4 {
  background-color: #000000;
  color: #ffffff;
}