.cell {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #150e0e;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  position: relative;
}

.height-indicator {
  font-size: 3vh;
  position: absolute;
  top: 8vh;
  left: 1.5vw;
  display: block;
  font-family: cursive;
}

.height-1 {
  background-image: url('./resources/img/blocks/bottom.png');
  background-size: cover;
  background-position: center;
}

.height-2 {
  background-image: url('./resources/img/blocks/middle.png');
  background-size: cover;
  background-position: center;
}

.height-3 {
  background-image: url('./resources/img/blocks/top.png');
  background-size: cover;
  background-position: center;
}

.dome {
  background-image: url('./resources/img/blocks/dome.png');
  background-size: cover;
  background-position: center;
}

.selected-worker {
  background-image: url('./resources/img/blocks/move.png');
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.valid-move {
  background-image: url('./resources/img/blocks/build.png');
  background-size: cover;
  background-position: center;
}

.currentPlayerWorker {
  position: relative;
}

.currentPlayerWorker::before {
  content: '';
  position: absolute;
  top: -3.5vh;
  left: -3.5vh;
  right: -3.5vh;
  bottom: -3.5vh;
  background-image: url('./resources/img/blocks/choose_worker.png');
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.worker img {
  width: 8vh;
  height: 8vh;
}